@page "/content/home"
@page "/"

<MudPaper Class="py-8">
    <MudGrid Spacing="2" Justify="Justify.Center">
        <MudItem xs="12" Class="mb-8">
            <MudText Typo="Typo.h2" Align="Align.Center">BoardGameTracker</MudText>
        </MudItem>

        <MudItem xs="3">
            <MudButton Variant="Variant.Filled" DisableElevation Href="/content/collection">
                <div style="height:140px; width:140px">
                    <MudText Typo="Typo.h5" Class="mt-2">Collection</MudText>
                    <MudText Class="mt-4"># games in your collection</MudText>
                </div>
            </MudButton>
        </MudItem>
        <MudItem xs="3">
            <MudButton Variant="Variant.Filled" DisableElevation Href="/content/plays">
                <div style="height:140px; width:140px">
                    <MudText Typo="Typo.h5">Plays</MudText>
                    <MudText Class="mt-4"># plays logged</MudText>
                </div>
            </MudButton>
        </MudItem>
        <MudItem xs="3">
            <MudButton Variant="Variant.Filled" DisableElevation Href="/content/challenges">
                <div style="height:140px; width:140px">
                    <MudText Typo="Typo.h5">Challenges</MudText>
                    <MudText Class="mt-4"># challenges open</MudText>
                </div>
            </MudButton>
        </MudItem>
    </MudGrid>
</MudPaper>

<MudPaper Class="py-8 mt-4" Style="position: relative;">
    <MudCarousel Class="mud-width-full"
                 Style="height:300px;"
                 ShowArrows="true"
                 ShowBullets="true"
                 EnableSwipeGesture="true"
                 AutoCycle="true"
                 TData="object"
                 @ref="carousel">
        @foreach (var chunk in games.Chunk(3))
        {
            <MudCarouselItem Transition="Transition.Slide">
                <MudGrid Spacing="2" Justify="Justify.Center">
                    @foreach (var game in chunk)
                    {
                        <MudItem>
                            <MudPaper Class="pa-2">
                                <MudImage Src="@game.Thumbnail" Height="200" Width="200" ObjectFit="ObjectFit.Cover" />
                                <MudText Typo="Typo.body2">@game.Name</MudText>
                            </MudPaper>
                        </MudItem>
                    }
                </MudGrid>
            </MudCarouselItem>
        }
    </MudCarousel>

    <MudOverlay Visible="@is_loading" DarkBackground="true" Absolute="true">
        <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
    </MudOverlay>
</MudPaper>